<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="title" class="form-label">Title</label>
    <input type="text" placeholder="add your title here..." name="title" class="form-control">
    <label for="blog" class="form-label">Post</label>
    <textarea name="blog" id="blog" cols="30" rows="10" class="form-control" placeholder="Your post here..."></textarea>
    <button name="publish" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>